/* This is a comment in CSS */

html{
  background-color: #eeeeee
}


header{
  background-color: darkkhaki;
}


.Title {
  color: #2F5A78;
  position: relative
  font-size: 80px;
  text-align: center;
}

.section1 {
  width: 50%;
  margin-bottom: 80px;
}

p{
  font-size: 32px;
}

li{
  font-size: 24px;
}

.Next_Head{
  margin-top: 20px;
  font-size: 60px;
  color: #2F5A78;
  text-align: center;
}